.chieuCao {
  height: 100vh;
}

body {
  /* background-color: orange; */
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

header {
  background-color: orange;
}

.dark header {
  background-color: black;
}

.mauChuDen {
  background-color: aqua;
  color: black;
}
